body {
  background-color: rgb(229, 231, 240);
  box-sizing: border-box;
  font-size: 16px;
}

.loading-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.movies-form {
  margin: auto;
  padding-top: 10px;
  width: 70%;
}

.movies-form label {
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 50%;
}

.loading-div {
  animation: spin 1s linear infinite;
  border: 16px solid rgb(102, 104, 158);
  border-radius: 50%;
  border-top: solid 16px #343a40;
  height: 200px;
  margin-top: 100px;
  width: 200px;

}

@keyframes spin {

  0% { transform: rotate(0deg); }

  100% { transform: rotate(360deg); }
}

.loading-h1 {
  font-size: 5vh;
  text-align: center;
  width: 100%;
}

.movie-card-header {
  align-items: center;
  background-color: #343a40;
  display: flex;
  flex-direction: column;
  height: 20%;
  justify-content: center;
}

.header-buttons-container {
  align-self: flex-start;
  display: flex;
  height: 40%;
  margin-bottom: 10px;
  width: 20%;
}

.header-buttons-container .header-link {
  border: solid white 1px;
  border-radius: 10px;
  color: white;
  margin: 3px;
  padding: 10px;
  text-decoration: none;
}

.header-buttons-container .header-link:hover {
  background-color: white;
  color: #343a40;
}

.page-title {
  color: #f8f9fa;
  font-size: 28px;
  font-weight: 500;
  text-align: center;
}

.movie-list {
  display: flex;
  flex-flow: row wrap;
  padding: 3px 48px 48px 30px;

}

.movie-card {
  align-items: center;
  background-color: rgb(240, 240, 240);
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 5px;
  max-width: 600px;
  overflow: hidden;
  width: 300px;
}


.movie-card-image {
  width: 100%;
}

.movie-card-body {
  flex: 1 1 auto;
  padding: 20px;
}

.movie-card-title {
  font-size: 24px;
  font-weight: 500;
  margin: 0 0 12px;
}

.movie-card-subtitle {
  color: #6c757d;
  font-size: 16px;
  font-weight: 500;
  margin: 0 0 8px;
}

.movie-card-storyline {
  font-size: 14px;
  text-align: justify;
}

.rating {
  align-self: flex-end;
  background-color: #007bff;
  border-radius: 25%;
  color: white;
  font-size: 16px;
  font-weight: 700;
  margin-top: 15px;
  padding: 3px 9px;
}

.movie-card-rating {
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  display: flex;
  justify-content: flex-end;
  padding: 12px 20px;
}

.search-bar {
  align-items: center;
  background-color: rgb(71, 73, 110);
  display: flex;
  height: 7vh;
  justify-content: space-around;
  margin-bottom: 1%;
  width: 100%;
}

.search-bar label {
  align-items: center;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding: 10px 0;
  text-align: center;
}

.search-bar input, .search-bar select {
  justify-content: center;
  margin-top: 10px;
}

.movie-card .link-button {
  background-color: rgb(71, 73, 110);
  border-radius: 10px;
  color: white;
  margin-bottom: 5%;
  margin-top: 10%;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  width: 80%;
}

.movie-card .link-button:hover {
  background-color: rgb(165, 168, 243);
  color: rgb(71, 73, 110);
}
